

/* ==========================================================================
   chauhuynh's custom styles
   ========================================================================== */

/* ------------------------------------------------- HEADER ---------------------------------------------------------*/

.header {
	background: #f5f4f4;
	margin-bottom: 0px;
	border: none;
}

.top-header {
	width: 100%;
	display: inline-block;
}

.logo {
	text-indent: -9999px;
	background: url('/img/logo.png') no-repeat;
	width: 240px;
	height: 85px;
	margin-bottom: 0px;
}

.header .navbar-brand {
	height: 85px;
}

.top-header button {
	padding: 10px 0px;
	width: 195px;
	margin-top: 70px;
	color: #fff;
}

.menu .navbar-nav {
	float: right;
}

.menu .navbar-nav>li {
	padding: 5px;
}

.menu .navbar-nav>li>a {
	font-size: 13px;
	padding: 0px;
	color: #191919;
}

.menu .navbar-nav .btn-group button {
	font-size: 13px;
	padding: 0px;
	margin-top: -2px;
	color: #0162a5;
	font-weight: 400;
}
.menu .navbar-nav .btn-group button:hover,
.menu .navbar-nav .btn-group button:focus {
	background: none;
	color: #0162a5;
	text-decoration: underline !important;
}

.menu .navbar-nav .btn-group.open .dropdown-toggle {
	box-shadow: none;
	background: none;
}

.menu .navbar-nav>li {
	background: url('/img/border-menu.png') no-repeat;
	background-position: 100%;
}
.menu .navbar-nav>li.active,
.menu .navbar-nav>li>a:hover,
.menu .navbar-nav>li>a:focus {
	color: #0162a5;
	background: none;
	text-decoration: underline !important;
}
.menu .navbar-nav>li>span {
	background: url('/img/border-menu.png') no-repeat;
	display: inline-block;
	width: 3px;
	height: 10px;
}
.menu .navbar-toggle .icon-bar {
	background: #ff9e28;
}

.menu .navbar-nav .open .dropdown-menu>li>a {
	font-size: 13px;
}


.banner {
	background: url('/img/banner.jpg') no-repeat;
	min-height: 200px;
}

.banner h3 {
	font-size: 62px;
	color: #fff;
	padding-top: 90px;
}



.search-bar {
	background: #8bac24;
	padding: 10px 0px 0px 0px;
}
.search-bar .form-group {
	margin-bottom: 10px;
	min-height: 42px;
}
.search-bar .form-control {
	height: 42px;
	font-size: 13px;
	width: 100%;
}

.btn-search {
	background: #fc220b;
	border-radius: 100%;
	height: 42px;
	width: 42px;
	float: right;
}

.btn-search span {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
}


/* ------------------------------------------------- left-menu ---------------------------------------------------------*/
.left-menu h4 {
	color: #191919;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 30px;
	margin-top: 45px;
}
.item-menu {
	padding: 2px;	
}
.item-menu a {
	color: #191919;
	font-size: 14px;
	padding: 0px 20px;
	background: url('/img/menu-caret-active.png') no-repeat;
	background-position: 0px;
}
.item-menu a.collapsed {
	background: url('/img/menu-caret.png') no-repeat;
	background-position: 0px;
}

.list-itemt-menu li a:hover,
.item-menu a:hover {
	color: #8bac24;
}
.list-itemt-menu {
	padding: 0px 20px;
	margin: 0px;
}

.list-itemt-menu li a {
	font-size: 12px;
	color: #191919;
}

/* -------------------------- caruosel -----------------------------------*/
.carousel-custom-style .carousel-control.left,
.carousel-custom-style .carousel-control.right {
	background: none;
}
/* ------------------------------------------------- FOOTER ---------------------------------------------------------*/
footer {
	background: #a1c627;
}
.information {
	padding: 70px 0px;
}
.information .col-md-4 {
	min-height: 50px;
}
.information p {
	color: white;
	font-size: 18px;
}
.information p span {
	font-size: 14px;
}
.icon-footer {
	width: 37px;
	height: 37px;
	float: left;
}

.icon-phone {
	background: url('/img/icon-phone.png') no-repeat;
}
.icon-email {
	background: url('/img/icon-email.png') no-repeat;
}

.icon-notify {
	background: url('/img/icon-notify.png') no-repeat;
}
footer .social {
	padding: 70px 0px;
}
footer .social i {
	color: #fff;
	font-size: 18px;
	margin-right: 15px;
}

footer .social .col-md-6 p {
	font-size: 11px;
	color: #fff;
	text-align: right;
}

#go-to-top {
    display: none;
    position: fixed;
    width: 35px;
    height: 35px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    background: url('/img/btn-go-top.png') no-repeat;
}
#go-to-top:hover {
	background: url('/img/btn-go-top-hover.png') no-repeat;
}
