

/* ==========================================================================
   chauhuynh's custom styles
   ========================================================================== */
   
.form-create-retail {
	margin-bottom: 40px;
}
.post-item h3.title {
	color: #616060;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 10px;
}

.post-item h3.title span {
	color: #ff9e28;
	font-size: 13px;
	display: block;
	font-weight: 400;
	margin-top: 5px;
}

.post-item label.control-label {
	color: #616060;
	font-size: 13px;
	font-weight: 700;
	padding-top: 12px;
}

.post-item .form-control {
	border: 1px solid #8bac24;
	color: #616060;
	font-size: 13px;
	resize: none;
	height: 45px;
}
.post-item .price .form-control {
	width: 90%;
	float: left;
	vertical-align: middle;
}
.post-item .price span {
	float: left;
	margin-left: 5px;
	color: #616060;
	font-weight: 700;
	padding: 12px 0px;
}
.post-item textarea.form-control {
	height: 280px;
}

.post-item .form-control:focus {
	border-color: #8bac24;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(139,172,36,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(139,172,36,.6);
}

.btn-submit-post {
	padding: 10px 15px;
	color: #fff;
	width: 160px;
}

.btn-submit-post i {
	margin-left: 15px;
}
.style-checkbox {
	line-height: 30px;
}

input[type=checkbox].cus-checkbox {
    display: none;
}

label.checkbox-label {
	cursor: pointer;
	color: #616060;
	font-size: 13px;
	font-weight: 400;
	padding-left: 0px;
	padding-top: 5px;
}
label.checkbox-label:before {
    content: url('/img/img-checkbox-befrore.png');
    display: inline-block;
    width: 14px;
    height: 30px;
    margin-right: 15px;
    vertical-align: middle;
}

input[type=checkbox]:checked + label.checkbox-label:before {
    content: url('/img/img-checkbox-checked.png');
}

input[type=radio].cus-checkbox {
    display: none;
}

label.radio-label {
	cursor: pointer;
	color: #616060;
	font-size: 13px;
	font-weight: 400;
	padding-left: 0px;
	padding-top: 5px;
}
label.radio-label:before {
    content: url('/img/img-radio-befrore.png');
    display: inline-block;
    width: 14px;
    height: 30px;
    margin-right: 15px;
    vertical-align: middle;
}

input[type=radio]:checked + label.radio-label:before {
    content: url('/img/img-radio-checked.png');
}