
/* ==========================================================================
   Tien Le <tienle@agilsun.com> 's custom styles
   ========================================================================== */

.bg-green {
	background: #8bac24;
}
.bg-orange {
	background: #fa8a01;
}
.rt-input {
	height: 42px;
  	font-size: 13px;
  	border-radius: 4px;
  	border: none;
}
.wrap-title {
	width: 100%;
	border-bottom: 1px solid #bbd615; 
}
.wrap-title .title{
	font-size: 18px;
	color: #3d3d3d;
	font-weight: 700;
	background: #bbd615;
	position: relative;
	display: inline-block;
	padding: 13px 40px 13px 20px;
}
.wrap-title .title .triangle-title{
	display: block;
	width: 34px;
	height: 52px;
	position: absolute;
	right: -34px;
	top: 0;
	background: url('../img/triangle-title.png');
}
.view-style{
	float: right;
}
.view-style label{
	color: #9b9a9a;
	font-size: 14px;
	float: left;
	margin-right: 5px;
	line-height: 45px;
}
.view-style ul {
	list-style: none;
	margin: 0;
	padding: 0;	
	display: inline-block;
}
.view-style ul li {
	float: left;
	border: 1px solid #bbd615;
	font-size: 20px;
	color: #9b9a9a;
	padding: 5px 10px;
	cursor: pointer;
}
.view-style ul li.active {
	background: #bbd615;
	color: #fff;
}
.view-style ul li:first-child{
	border-right: none;
	border-radius: 4px 0 0 4px;
}
.view-style ul li:last-child{
	border-radius: 0 4px 4px 0;
}