

/* ==========================================================================
   chauhuynh's custom styles
   ========================================================================== */
   
.account-setting {
	margin: 0px 0px 30px 0px;
}

.search-bar {
	display: none;
}

.account-setting h3.title {
	margin-top: 30px;
	margin-bottom: 30px;
}

.account-setting .cus-style-form-control label.control-label {
	text-align: left;
}


.form-account-setting .wrap-image-upload {
	border: none;
}

.form-account-setting .wrap-image-upload ul li img {
	width: 185px;
	border-radius: 100%;
	border: 1px solid #dbdad9;
	cursor: pointer;
}

.account-setting .cus-style-form-control .avatar-image label.control-label {
	text-align: center;
}
.account-setting .cus-style-form-control .avatar-image .wrap-image-upload ul li {
	text-align: center;
}

.account-setting .nav-tabs {
	margin-top: 20px;
	margin-bottom: 20px;
}

.account-setting .nav-tabs>li {
	background: url('/app/img/border-tab.png') no-repeat;
	background-position: 100%;
	margin-bottom: 0px;
}

.account-setting .nav-tabs>li:last-child {
	background: none;
}

.account-setting .nav-tabs>li a {
	font-weight: 700;
	font-size: 16px;
	color: #616060;
	border: none;
}

.account-setting .nav-tabs>li:hover a{
	background: none;
	border: none;
	color: #8bac24;
}
.account-setting .nav-tabs>li.active>a, 
.account-setting .nav-tabs>li.active>a:hover, 
.account-setting .nav-tabs>li.active>a:focus {
	border: none;
	color: #8bac24;
	background: none;
}

.account-setting .form-account-setting label.radio-label {
	margin-right: 15px;
}

.account-setting .form-account-setting input.email {
	color: #616060;
	font-weight: 700;
	border: none;
	box-shadow: none;
	padding-left: 0px;
}
.account-setting .form-account-setting input.email[readonly] {
	background: none;
}
