
/* ==========================================================================
   chauhuynh's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300);

body{
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
}

a{
	text-decoration: none !important;
}

a, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Open Sans' sans-serif;
}
ul.ul-non-list-style {
	list-style: none;
}

#container .container {
	max-width: 960px !important;
	margin: 0 auto;
	width: 100%;
}


.reset-style-button {
	border: none;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	background: none;
	box-shadow: none;
	outline-style: none;
}
.btn-color-orange {
	background: #ff9e28;
}


.btn-color-orange:hover {
	background: #fe900b;
}
.btn-border-orange {
	background: #f8f8f8;
	border: 1px solid #ff9e28;
	color: #ff9e28;
}

.btn-border-orange:hover {
	background: #ff9e28;
	color: #fff;
}


.btn-color-green {
	background: #8bac24;
}

.btn-color-green:hover {
	background: #bbd615;
}


/* ==========================================================================
   Tien Le <tienle@agilsun.com> 's custom styles
   ========================================================================== */

.bg-green {
	background: #8bac24;
}
.bg-orange {
	background: #fa8a01;
}
.rt-input {
	height: 42px;
  	font-size: 13px;
  	border-radius: 4px;
  	border: none;
}
.wrap-title {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #bbd615; 
}
.wrap-title .title{
	font-size: 18px;
	color: #3d3d3d;
	font-weight: 700;
	background: #bbd615;
	position: relative;
	display: inline-block;
	padding: 13px 40px 13px 20px;
}
.wrap-title .title .triangle-title{
	display: block;
	width: 34px;
	height: 52px;
	position: absolute;
	right: -34px;
	top: 0;
	background: url('../img/triangle-title.png');
}
.view-style{
	float: right;
}
.view-style label{
	color: #9b9a9a;
	font-size: 14px;
	float: left;
	margin-right: 5px;
	line-height: 45px;
}
.view-style ul {
	list-style: none;
	margin: 0;
	padding: 0;	
	display: inline-block;
}
.view-style ul li {
	float: left;
	border: 1px solid #bbd615;
	font-size: 20px;
	color: #9b9a9a;
	padding: 5px 10px;
	cursor: pointer;
}
.view-style ul li.active {
	background: #bbd615;
	color: #fff;
}
.view-style ul li:first-child{
	border-right: none;
	border-radius: 4px 0 0 4px;
}
.view-style ul li:last-child{
	border-radius: 0 4px 4px 0;
}
.retail-btn-group {
	float: right;
}
.retail-btn-group button{
	border-color: #8bac24;
	background: none;
	color: #8bac24;
	outline-style: none;
}
.retail-btn-group button.active,
.retail-btn-group button:hover,
.retail-btn-group button:focus{
	background: #8bac24;
	color: #fff;
}

.retail-modal .modal-content{
	border-radius: 11px; 
	-webkit-box-shadow: 1px 1px 5px 1px #3B3B3B;
box-shadow: 1px 1px 5px 1px #3B3B3B;
}
.retail-modal .modal-header{
	background: #8bac24;
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	border-radius: 11px 11px 0 0;
}
.retail-modal .modal-body{
	padding: 45px 48px;
}

.retail-modal .modal-body .form-group input{
	font-size: 14px;
	color: #b1b1b2;
	padding: 25px 11px;
	border: 1px solid #b1b1b2;
	background: #fff;
}
.retail-modal .modal-body .form-group button{
	width: 100%;
	background: #ff9e28;
	padding: 17px 5px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}
.text-center{
	text-align: center;
}


