
/* ==========================================================================
   chauhuynh's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300);

body{
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
}

a{
	text-decoration: none !important;
}

a, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Open Sans' sans-serif;
}
ul.ul-non-list-style {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#container .container {
	max-width: 960px !important;
	margin: 0 auto;
	width: 100%;
}


.reset-style-button {
	border: none;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	background: none;
	box-shadow: none;
	outline-style: none;
}
.btn-color-orange {
	background: #ff9e28;
}


.btn-color-orange:hover {
	background: #fe900b;
}
.btn-border-orange {
	background: #f8f8f8;
	border: 1px solid #ff9e28;
	color: #ff9e28;
}

.btn-border-orange:hover {
	background: #ff9e28;
	color: #fff;
}


.btn-color-green {
	background: #8bac24;
}

.btn-color-green:hover {
	background: #bbd615;
}

/* 
* * * * page-title
*/
.page-title {
	background: #8bac24;
	width: 100%;
    box-shadow: 0px 3px 3px #e5e5e5;
    padding: 25px 0px;
}
.page-title ul li:first-child {
	padding: 0px 20px 0px 0px;
}
.page-title ul li:last-child {
	background: none;
}
.page-title ul li {
	display: inline-block;
	background: url('/app/img/border-page-title.png') no-repeat;
	background-position: 100%; 
	padding: 0px 20px;
}
.page-title ul li a {
	font-size: 18px;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #797878;
}
.page-title ul li a.active {
	color: #fff;
}

.page-title .retail-breadcrumb span {
	color: #747473;
	font-weight: 600;
	font-size: 18px;
	padding: 0px 15px;
	border-left: 1px solid #fff;
}
.cus-style-form-control h3.title {
	color: #616060;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 10px;
	width: 100%;
	float: left;
}

.cus-style-form-control h3.title span {
	color: #ff9e28;
	font-size: 13px;
	display: block;
	font-weight: 400;
	margin-top: 5px;
}

.cus-style-form-control label.control-label {
	color: #616060;
	font-size: 13px;
	font-weight: 700;
	padding-top: 12px;
}

.cus-style-form-control .form-control {
	border: 1px solid #8bac24;
	color: #616060;
	font-size: 13px;
	resize: none;
	height: 45px;
}
.cus-style-form-control .price .form-control {
	width: 90%;
	float: left;
	vertical-align: middle;
}
.cus-style-form-control .price span {
	float: left;
	margin-left: 5px;
	color: #616060;
	font-weight: 700;
	padding: 12px 0px;
}
.cus-style-form-control textarea.form-control {
	height: 280px;
}

.cus-style-form-control .form-control:focus {
	border-color: #8bac24;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(139,172,36,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(139,172,36,.6);
}

.btn-submit-post {
	padding: 10px 15px;
	color: #fff;
	width: 160px;
}

.btn-submit-post i {
	margin-left: 15px;
}
.style-checkbox {
	line-height: 30px;
}

input[type=checkbox].cus-checkbox {
    display: none;
}

label.checkbox-label {
	cursor: pointer;
	color: #616060;
	font-size: 13px;
	font-weight: 400;
	padding-left: 0px;
	padding-top: 5px;
}
label.checkbox-label:before {
    content: url('/app/img/img-checkbox-befrore.png');
    display: inline-block;
    width: 14px;
    height: 30px;
    margin-right: 15px;
    vertical-align: middle;
}

input[type=checkbox]:checked + label.checkbox-label:before {
    content: url('/app/img/img-checkbox-checked.png');
}

input[type=radio].cus-checkbox {
    display: none;
}

label.radio-label {
	cursor: pointer;
	color: #616060;
	font-size: 13px;
	font-weight: 400;
	padding-left: 0px;
	padding-top: 5px;
}
label.radio-label:before {
    content: url('/app/img/img-radio-befrore.png');
    display: inline-block;
    width: 14px;
    height: 30px;
    margin-right: 15px;
    vertical-align: middle;
}

input[type=radio]:checked + label.radio-label:before {
    content: url('/app/img/img-radio-checked.png');
}
/* ==========================================================================
   Tien Le <tienle@agilsun.com> 's custom styles
   ========================================================================== */

.bg-green {
	background: #8bac24;
}
.bg-orange {
	background: #fa8a01;
}
.rt-input {
	height: 42px;
  	font-size: 13px;
  	border-radius: 4px;
  	border: none;
}
.wrap-title {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #bbd615; 
}
.wrap-title .title{
	font-size: 18px;
	color: #3d3d3d;
	font-weight: 700;
	background: #bbd615;
	position: relative;
	display: inline-block;
	padding: 13px 40px 13px 20px;
}
.wrap-title .title .triangle-title{
	display: block;
	width: 34px;
	height: 52px;
	position: absolute;
	right: -34px;
	top: 0;
	background: url('/app/img/triangle-title.png');
}
.view-style{
	float: right;
}
.view-style label{
	color: #9b9a9a;
	font-size: 14px;
	float: left;
	margin-right: 5px;
	line-height: 45px;
}
.view-style ul {
	list-style: none;
	margin: 0;
	padding: 0;	
	display: inline-block;
}
.view-style ul li {
	float: left;
	border: 1px solid #bbd615;
	font-size: 20px;
	color: #9b9a9a;
	padding: 5px 10px;
	cursor: pointer;
}
.view-style ul li.active {
	background: #bbd615;
	color: #fff;
}
.view-style ul li:first-child{
	border-right: none;
	border-radius: 4px 0 0 4px;
}
.view-style ul li:last-child{
	border-radius: 0 4px 4px 0;
}
.retail-btn-group {
	float: right;
}
.retail-btn-group button{
	border-color: #8bac24;
	background: none;
	color: #8bac24;
	outline-style: none;
}
.retail-btn-group button.active,
.retail-btn-group button:hover,
.retail-btn-group button:focus{
	background: #8bac24;
	color: #fff;
}

.retail-modal .modal-content{
	border-radius: 11px; 
	-webkit-box-shadow: 1px 1px 5px 1px #3B3B3B;
box-shadow: 1px 1px 5px 1px #3B3B3B;
}
.retail-modal .modal-header{
	background: #8bac24;
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	border-radius: 11px 11px 0 0;
}
.retail-modal .modal-body{
	padding: 45px 48px;
}

.retail-modal .modal-body .form-group input{
	font-size: 14px;
	color: #b1b1b2;
	padding: 25px 11px;
	border: 1px solid #b1b1b2;
	background: #fff;
}
.retail-modal .modal-body .form-group button{
	width: 100%;
	background: #ff9e28;
	padding: 17px 5px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}
.text-center{
	text-align: center;
}

.wrap-image-upload {
	  border: 1px solid #8bac24;
	  border-radius: 4px; 
	  display: inline-block;
	  width: 100%;
	  padding: 10px;
}
.wrap-image-upload ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.wrap-image-upload ul li{
	position: relative;
}
.wrap-image-upload ul li img{
	max-width: 100%;
	height: auto;
}
.wrap-image-upload ul li span.icon-close{
	position: absolute;
  	top: 10px;
  	right: 10px;
  	display: block;
  	font-size: 21px;
  	font-weight: 700;
  	line-height: 1;
  	color: #000;
  	cursor: pointer;
  	background: #fff;
  	border-radius: 100%;
}

/**
 * Side Bar Store
 */
.wrap-side-bar-store {
/*	position: relative;
	display: inline-block;
	width: 100%;*/
}

.side-bar-store {
 	min-height: 30px;
}
.side-bar-store h6{
 	color: #191919;
 	font-size: 14px;
 	font-weight: 600;
 	margin: 20px 0;
}
.side-bar-store .navbar-collapse {
	padding: 0px;
	width: 100%;
	float: left;
}
.side-bar-store .list-radio {
 	list-style: none;
 	padding: 0;
 	margin: 10 0;
}
.side-bar-store .list-radio li label{
	color: #191919;
	font-size: 14px;
	font-weight: 400;
}
.side-bar-store .list-radio input{
	margin-right: 5px;
	float: left;
}
.price-to-price{
	display: inline-block;
	width: 100%;
}
.price-to-price span,
.price-to-price input,
.price-to-price button {
	float: left;
}
.price-to-price input{
	width: 60px;
	margin: 0 5px;
	border: 1px solid #9e9e9e;
	padding: 3px;
}
.price-to-price button{
	font-size: 14px;
	color: #fff;
	border: none;
	border-radius: 50%;
	display: block;
	width: 25px;
	height: 25px;
	padding: 0;
}
