
/* ==========================================================================
   chauhuynh's custom styles
   ========================================================================== */

.search-bar {
	display: none;
}

.my-order .page-title {
	padding: 15px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.my-order .sort-menu h2 {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	margin: 0px;
}

.my-order .sort-menu {
	margin-top: 20px;
	background: #ebf0df;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	margin-bottom: 20px;
}

.my-order .sort-menu .title-sort {
	padding: 0px 15px;
	color: #191919;
	font-size: 18px;
	font-weight: 600;
}

.my-order .sort-menu .checkbox {
	margin: 0px;
}

.my-order .sort-menu .label-radio-sort-by {
	font-size: 14px;
}

.my-order .sort-menu label.radio-label:before {
	content: url('../images/sort-by-radio.png');
}

.my-order .sort-menu input[type=radio]:checked + label.radio-label:before {
	content: url('../images/sort-by-radio-checked.png');
}

.my-order .sort-menu .table-sort-by {
	margin-left: 50px;
}

.my-order label.radio-label {
	padding: 0px;
	margin: 0px;
}

.my-order .sort-date {
	height: 26px;
	border: 1px solid #898989;
	border-radius: 10px;
	font-size: 14px;
}

.my-order .list-my-order {
	background: #fff;
}

.my-order .list-my-order li {
	text-align: center;
}

.my-order .list-my-order li.title {
	background: #7e7e7e;
	color: #fff;
	font-weight: 600;
	margin-bottom: 15px;
	padding: 18px 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.my-order .list-my-order .label-title:first-child {
	padding-left: 20px;
	padding-right: 0px;
}

.my-order .list-my-order .label-title {
	padding: 0px 0px;
	font-size: 13px;
}

.my-order .list-my-order .detail-order {
	text-align: center;
	font-size: 13px;
	color: #191919;
	font-weight: 600;
	padding: 18px 0px;
}
.my-order .list-my-order .status-order-item {
	padding: 18px 15px;
}
.my-order .list-my-order .detail-order .view-more {
	color: #8bac24;
	font-size: 13px;
	font-weight: 400;
}

.my-order .list-my-order .detail-order .view-more:hover {
	color: #ff9e28;
}
.my-order .list-my-order .item-order {
	background: #e1e1e1;
	margin-bottom: 15px;
}
.my-order .list-my-order .total {
	color: #f23534;
}

.my-order .list-my-order .option {
	background: #fff;
	text-align: right;
}

.my-order .list-my-order .item-order .btn-delete {
	background: #ff9e28;
	border-radius: 50%;
	color: #fff;
}

.my-order .list-my-order .item-order .btn-notify {
	color: #8bac24;
	font-size: 22px;
}

.my-order .list-my-order .item-order .label-item-order {
	display: none;
}



/* #Tablet (Portrait) 768px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {

	.row {
		margin: 0px;
	}
	.my-order .list-my-order li.title {
		display: none;
	}
	.my-order .list-my-order .item-order .label-item-order {
		display: block;
	}
	.my-order .list-my-order .detail-order {
		padding: 5px 15px;
		border-bottom: 1px solid 1px #ebebeb;
	}

}


/* #Mobile (Landscape) 480px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

	.row {
		margin: 0px;
	}
	.my-order .list-my-order li.title {
		display: none;
	}
	.my-order .list-my-order .item-order .label-item-order {
		display: block;
	}
	.my-order .list-my-order .detail-order {
		padding: 5px 15px;
		border-bottom: 1px solid 1px #ebebeb;
	}
}

/*  #Mobile (Portrait) 320px
---------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 100px) and (max-width: 479px) {
	.row {
		margin: 0px;
	}
	.my-order .list-my-order li.title {
		display: none;
	}
	.my-order .list-my-order .item-order .label-item-order {
		display: block;
	}
	.my-order .list-my-order .detail-order {
		padding: 5px 15px;
		border-bottom: 1px solid #ebebeb;
	}

}
