

/* ==========================================================================
   chauhuynh's custom styles
   ========================================================================== */
   
.form-create-retail {
	margin-bottom: 40px;
}

.form-create-retail .custom-style-select-picker .btn {
	border: none;
}
.form-create-retail .custom-style-select-picker .bootstrap-select {
	border: 1px solid #8bac24;
	color: #616060;
	font-size: 13px;
	resize: none;
	height: 45px;
}